a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}

.milkdown ul, .milkdown ol {
  list-style: unset;
}

@media only screen and (min-width: 72rem) {
  .milkdown .editor {
    margin: 0 auto;
    max-width: 57.375rem;
    padding: 3.125rem!important;
  }
}
